.app-header{
  align-items: flex-end;
 justify-content:space-between;

}
.app-header h1{
  /* width: 150px;
  height: 150px; */
  font-size: 25px;
  color:black;
}
.app-header h2{
  font-size: 1.2rem;
  color: black;
  background-color: #ffd700;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}